<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="RentalMobil.Properties.Settings.db_rental_mobilConnectionString" connectionString="Data Source=ASUSN551ZU\SQLEXPRESS;Initial Catalog=db_rental_mobil;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="db_rental_mobilEntities" connectionString="metadata=res://*/ModelRentalan.csdl|res://*/ModelRentalan.ssdl|res://*/ModelRentalan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSN551ZU\SQLEXPRESS;initial catalog=db_rental_mobil;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>